<!DOCTYPE html>
<html>
  <head>
    <title>Visitor Registration</title>
    <style>
      h1 {
        font-size: 40px;
        font-family: Times-New-Roman;
        font-weight: normal;
        text-align: center;
      }
      h2 {
        font-style: italic;
        font-family: Times-New-Roman;
        font-weight: normal;
        text-align: center;
      }
      #banner {
        align-items: auto;
        justify-content: auto;
      }
      #container {
        max-width: 720px;
        margin: 0 auto 0 auto;
      }

    </style>
  </head>
  <body>
    <div id="container">
      <img id="banner" src="https://career-website.cwydle.repl.co/static/banner.jpg">
    <h1>
      Visitor Registration
    </h1>
    <h2>Click one to proceed to check in</h2>
      </div>
    <div style="text-align: center">
      <button>New Visitor</button>
      <button>Existing Visitor</button>
    </div>
  </body>
</html>